



<div class="banner">
  <div class="container">
    <h1>SuiviGo <strong>L'assistant pédagogique</strong>!</h1>
    <p>Le compagnon <span id="banner-typed-text"></span></p>
    <a type="button" class="btn btn-success" href="#">Découvrir</a>
  </div>
</div>



